:root {
  --sizeWidth: 700px;
  --sizeHeight: 500px;
  --padding: 50px;
  --gap: 50px;
  --rowHeight: calc(var(--sizeHeight) / 2 - (var(--padding) + (var(--gap) /2)));
}

.wall {
  width: var(--sizeWidth);
  height: var(--sizeHeight);
  background-color: gray;
  overflow: hidden;
}

.wallContent {
  box-sizing: border-box;
  height: var(--sizeHeight);
  padding: var(--padding) 0;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(2, var(--rowHeight));
  gap: var(--gap);
  align-items: center;
  transition: transform .5s cubic-bezier(0.28, 1.04, 1, 0.99);
}

.centerWall {
  width: calc(var(--sizeWidth) - 100px);
  position: absolute;
  top: 0;
  left: var(--sizeWidth);
  transform-origin: left;
  transform: rotateY(-40deg);
}
.centerWallContent {
  position: relative;
  left: calc(-100% - 100px);
}

.rightWall {
  width: calc(var(--sizeWidth) - 100px);
  transform-origin: right;
  transform: rotateY(40deg);
  position: absolute;
  top: 0;
  left: 1019px;
}

.rightWallContent {
  position: relative;
  left: calc(-200% - 100px);
}
